@CHARSET "ISO-8859-1";

/**
 * $id$
 *
 * saybit_relativity styling CSS
 *
 */
 
/* indent the children and ancestors */
.saybit_relativity-child-1, .saybit_relativity-ancestor-1 {
  margin-left: 10px;
  background-color: #d7d7d7;
}
.saybit_relativity-child-2, .saybit_relativity-ancestor-2 {
  margin-left: 20px;
  background-color: #c8c8c8;
}
.saybit_relativity-child-3, .saybit_relativity-ancestor-3 {
  margin-left: 30px;
  background-color: #a7a7a7;
}
.saybit_relativity-child-4, .saybit_relativity-ancestor-4 {
  margin-left: 40px;
  background-color: #8f8f8f;
}
.saybit_relativity-child-5, .saybit_relativity-ancestor-5 {
  margin-left: 50px;
  background-color: #828282;
}
.saybit_relativity-child-6, .saybit_relativity-ancestor-6 {
  margin-left: 60px;
  background-color: #829e82;
}
.saybit_relativity-child-7, .saybit_relativity-ancestor-7 {
  margin-left: 70px;
  background-color: #7c967c;
}
.saybit_relativity-child-8, .saybit_relativity-ancestor-8 {
  margin-left: 80px;
  background-color: #86a2a8;
}
.saybit_relativity-child-9, .saybit_relativity-ancestor-9 {
  margin-left: 90px;
  background-color: #95b561;
}
.saybit_relativity-child-10, .saybit_relativity-ancestor-10 {
  margin-left: 100px;
  background-color: #c1767e;
}

/* style the ancestor and child groups */
.saybit_relativity-child-group, .saybit_relativity-ancestor-group {
  border: 2px solid #7c585b;
  padding: 5px 5px 5px 5px;
  margin: 20px 0px 20px 0px;
}

/* style the operations link lists */
#content-content div.saybit_relativity-child-link-operations div.item-list {
  padding-top: 5px;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
}

#content-content div.saybit_relativity-child-link-operations div.item-list li {
  display: block;
}

#content-content div.saybit_relativity-child-link-operations div.item-list li.first a {
  font-style: italic;
  color: green;
}