@CHARSET "ISO-8859-1";

/* hide the page title */
#login #page-title {
  display: none;
}

#login #page, #login #saybit-login-screen, #login #saybit-login-screen form {
  position: relative;
}

#login #main {
	height: 500px;
}

#login #saybit-login-screen {
  left: 250px;
  top: 50px;
  height: 350px;
  width: 450px;
  padding: 25px 25px 25px 25px;
  background: url('images/Saybitlogo1.png') no-repeat center;
  border: 1px solid #6b6161;
}

#login h2 {
  font-size: 12pt;
}

#login label, #login div.description {
  background: white;
}

#login label { 
  width: 100px;
  font-size: 12pt;
}

#login div.description {
  font-size: 11pt;
  text-decoration: italic;
  color: red;	
}

#login form {
  top: 20px;
}