
.comment .indented {
  margin-left: 45px; /* LTR */

}

.comment {
  border: 2px solid #cc3333;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #CCCC7F;
}

.comment .links li {
  border: 2px solid black;
  background-color: #6676A3;
  padding: 5px 5px 5px 5px;
}

.comment .links {
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}

#comment-id {
  float: right;
  margin: 10px, 20px, 10px, 10px;	
}