@CHARSET "ISO-8859-1";

/**
 * $id$
 *
 * saybit_science_library feature, Catalog CSS
 *
 */


/* Kill the menu, title, and search form in the main content area, we use blocks */
#catalog .tabs, #catalog #main .title, #catalog #main form {
  display: none;
}

/* change the search form text field width variable to fit in the sidebar */
#catalog .form-text {
  width : 75%;
}

#catalog #main #content, #catalog #sidebar-left-outer, #catalog #sidebar-left-inner {
  margin-top: 30px;
}

#catalog #main { 
  position: relative;
}

/* search form styles */
#catalog #search-form-1 {
  text-align: center;
}
#catalog #search-form-1 input.form-submit {
  position: relative;
  left: -40px;
}

/* filter styles */
/* filter title style */
#catalog #sidebar-left-outer h2, #catalog #sidebar-left-inner h2 {
  font-size: 11pt;
  text-align: center;
  text-decoration: underline;
}
/* sidebar styles */
#catalog #sidebar-left-outer {
  position: relative;
  /*background-color: #d9c2bb;*/
  border: 2px solid #721800;
  margin-right: 5px;
  min-height: 400px;
  z-index: 1;
}
#catalog #sidebar-left-inner {
  position: relative;
  margin-left: 10px;
  /*background-color: #d9c2bb;*/
  border: 2px solid #721800;
  margin-right: 5px;
  min-height: 400px;
  z-index: 2;
}

/* filter list styles */
#catalog #sidebar-left-inner li, #catalog #sidebar-left-outer li {
  display: block;
  font-weight: bold;
}

/* style the catalog results table */
#catalog #main table {
  position: relative;
  left: 50px;
  background-color: #cfaf62;
  border: 1px solid #cf9200;
  width: 60%;
}

#catalog #main table tr {
  border: 1px solid #4b3500;
}

#catalog td.search-result-cell-type {
  font-weight: bold;
  font-style: italic;
  font-size: 11pt;
  width: 20%;
  text-align: left;
}

#catalog td.search-result-cell-title {
  font-size: 12pt;
  color: green;
  width: 20%;
  text-align: left;
}

#catalog td.search-result-cell-snippet {
  font-size: 12pt;
  color: green;
  width: 60%;
  text-align: center;
}

#catalog td.search-result-cell-operations .search-result-view-link,
#catalog td.search-result-cell-operations .search-result-edit-link {
  font-style: italic;
  width: 5%;
}

/* style no results "box" */
#catalog #main div.box {
  position: relative;
  left: 20px;
}
