/**
 * $id$
 *
 * SaybitTheme layout.css
 *
 */

/* header styles */
/*****HEADER BRANING REGION *****/
#header-branding {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #B8B7B7;
}

#salutation {
  position: absolute;
  left: 500px;
  top: 5px;
  	
}

#logo-title {
  float: left;
  width: 60%;
}

#logo {
  float: left;
  position: relative;
  z-index: 20;
}

#logo img {
  display: block;
}

#name-and-slogan {
  position: relative;
  top: .15em;
  left: .3em;
  z-index: 10;
}

#site-name {
  position: relative;
  left: 150px;
  top: -100px;  	
}

/***** HEADER MENU *****/

#header-menu {
  position: relative;
  background-color: #F62A2A;
  height: 50px;
}

#block-nice_menus-1 {
	position: absolute;
	top: -15px;
	left: 10px;
	padding: 10px 0px 0px 0px;
	width: 100%;
	height: 50px;
	clear: left;
	z-index: 20;
}

#block-nice_menus-1 li {
  padding-left: 1px;
  padding-right: 1px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
}

#block-nice_menus-1 li a{
  font-size: 12pt;
}

/**** DASHBOARD ****/
/* put padding between node title and the document type/ view and edit links */
div.view-library-recently-changed td.views-field-title{
  padding-right: 10px;
  padding-left: 10px;
}
/**** MAIN ****/

#container {
  clear: both;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

#navigation {
  margin-bottom: 6px;
}


/* main and body styles */
div#page {
	/*min-height: 800px;*/
	width: 1000px;
	margin: 0 auto;
}

#sidebar-left-outer {
	width: 20%;
	float: left;
}

#sidebar-left-inner {
  width: 15%;
  float: left;
}

body.no-sidebars #main {
	width: 100%;
}

body.one-sidebar #main {
  width: 64.5%;
}

body.sidebar-left #main-squeeze {
  margin-left: 15px;
  margin-right: 10px;
}

body.sidebar-right #main-squeeze {
  margin-right: 15px;
}

body.two-sidebars #main-squeeze {
  margin: 0 15px;
}
