/**
 * $id$
 *
 * Saybit style.css
 *
 */
 
 /* header styles */
 #salutation {
	font-size: 10pt;
	font-weight: bold;	
	color: black;
}

#header-menu {
  background-color: #d43838;
}


/* pager */


/*nice-menus*/

span.nice-menu-hide-title {
	display: none;
}

/*ubiquitous styles*/

#page {
	  border: 2px solid black;
}

body {
  background: #9A9A9A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
}

#node-type-display {
  font-size: 14pt;
  font-weight: bold;
  color: red;
}

a:link {
  color: #0048B4;
  text-decoration: none;
}

a:visited {
  color: #0048B4;
  text-decoration: none;
}

a:hover {
  color: #8C0000;
  text-decoration: underline;
}

a:active {
  color: #8C0000;
}

div#page {
  background: #FFFFFF;
}

h1 {
  font-size: 1.6em;
}

#site-name {
  margin-top: .3em;
  margin-bottom: 0;
  color: black;
  font-size: 14pt;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  margin-top: .9em;
  margin-bottom: .7em;
}

#site-slogan {
  font-style: italic;
  font-size: .9em;
}

.sidebar {
  font-size: .95em;
}

#user-login-form {
  text-align: left;
}

#mission {
  font-style: italic;
  font-size: .9em;
  text-align: left;
  margin-bottom: .25em;
}

#breadcrumb,
div.meta,
div.feed-item-meta {
  font-size: .85em;
}

#breadcrumb {
  border-bottom: 1px solid #9B7E7E;
}

#content p,
#aggregator,
#tracker {
  line-height: 1.4;
}

cite {
  font-size: .9em;
}

#footer {
  text-align: center;
  font-size: .9em;
  margin-top: .5em;
  padding-bottom: 50px;
}

#footer p {
  margin-bottom: 0;
}

#footer img {
  vertical-align: bottom;
}

#footertheme {
  font-size: .9em;
  font-style: italic;
}

#footertheme a:link,
#footertheme a:visited {
  color: #C2C2C2;
  text-decoration: none;
}
